﻿@model praguelabs.Models.Invoice

@{
    ViewBag.Title = "Details";
}
<div class="toReload">
    <h2>Details</h2>

    <div>
        <h4>Invoice</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.invoiceNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.invoiceNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.orderDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.orderDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.paid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.paid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.store.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.store.name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index") |
        <button class="btn btn-success btn-sm" id="btnPayment">Pay this</button>
    </p>
</div>
<script>
    $(document).ready(function () {
        $("#btnPayment").click(function () {
            var id = @Model.ID;
            $.post("/api/Payment/PayInvoice?id=" + id ,{"id":id}, function (data) {
                //$('hr').remove();
                //$('footer').remove();
                $("body").load('@(Url.Action("Details", "Invoices", null, Request.Url.Scheme))');
                return false;
            },"json")
        });
    });
</script>

