﻿@model praguelabs.Models.order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.invoiceNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.invoiceNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
